// background color base - #141414
// netlifx color -         #E50914
// make border 0 for the reset(for some reason its not working)

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, 
dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, 
var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, 
legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header, main, hgroup
,menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

html {
    height: 100%;
    background-color: #141414;
    font-family: 'Helvetica Neue', sans-serif;
    color: white
}

body {
    min-height: 100vh;
}

.auth-header {
    height: 81px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
    position: relative;
    z-index: 5;
}

.logo {
    width: 198px;
    height: 40.5px;
}

.header-button {
    background-color: #E50914;
    color: white;
    text-align: center;
    border: none;
    border-radius: 2.7px;
    font-size: 14.4px;
    height: 34.2px;
    padding: 6.3px 15.3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    cursor: pointer;
}

.homepage-background {
    
    &::before {
        background-image: url('../images/background.png');
        content: "";
        display: block;
        height: 100vh;
        background-size: 100%;
        background-repeat: no-repeat;
        opacity: .5;
        position: absolute;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: -1;
        filter: blur(3px);
    }
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    position: relative;
    top: 25vh;

    button {
        background-color: #E50914;
        font-size: 20.7px;
        text-align: center;
        border-radius: 2.7px;
        margin: 27px 27px 0px;
        padding: 9px;
        border: none;

        &:hover {
                cursor: pointer;
        }
    }
}

.welcome {
    text-align: center;
    font-size: 43.2px;
}

.free {
    width: 315px;
    height: 54px;
    color: white;
    font-weight: 100;
    letter-spacing: .9px;
}

.demo {
    width: 108px;
    height: 45px;
    color: white;
    letter-spacing: 0.675px;
}

.footer {
    background-color: #141414;
    min-height: 300px;
}