.nav {
    background: transparent;
    position: absolute;
    z-index: 12;
    width: 100%;
    height: 63px;
}

.nav-content {
    height: 36.9px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
    
    font-size: 12.6px;
    color: #e5e5e5;
    display: flex;
    align-items: center;
    padding: 0 4%;
    padding-top: 2px;
    
    transition: height 2s, font-size 2s;

    position: relative;
}

.nav-logo {
    display: block;
    height: 19.8px;
    margin-right: 25px;

    &:hover {
        cursor: pointer;
    }
}

.primary-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-tab {
    margin-left: 16.2px;
    transition: margin-left 2s;
    transition: color .4s;
    color: #e5e5e5;

    &:hover {
        color: #b3b3b3;
        cursor: pointer;
    }
}

.current {
    margin-left: 16.2px;
    font-weight: 500;
    color: #fff;
}

.secondary-nav {
    display: flex;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    position: absolute;
    right: 4%;
    top: 0;
}

@keyframes open-input {
    from {
        width: 0;
    }
    to {
        width: 190.8px;
    }
}

.searchbox {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, .75);
    border: 1px solid hsla(0, 0%, 100%, .85);
    height: 33.3px;

    .search-icon {
        padding: 0 6px;
        margin-left: 1px;
        width: 21.6px;
    }

    .search-input {
        height: 30.6px;
        opacity: 1;
        color: #fff;
        font-size: 13.5px;
        background: transparent;
        border: none;
        box-sizing: border-box;
        outline: none;
        padding: 6.3px 12.6px 6.3px 6.3px;
        width: 190.8px;

        animation: open-input 300ms;

        &::placeholder {
            color: #8D8D8D;
            letter-spacing: .1px;
        }
    }

    .close {
        fill: white;
        height: 21.6px;
        width: 21.6px;
        margin-right: 3px;

        &:hover {
            cursor: pointer;
        }
    }
}

.search-icon {
    width: 21.6px;
    height: 21.6px;
}

.search-icon-focus {
    padding: 0;
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;

    &:focus img {
        width: 23px;
        height: 23px;
    }
}

.secondary-nav-element {

    &:not(:last-child) {
        margin-right: 13.5px;
    }
}

.nav-element-hover{

    &:hover {
        cursor: pointer;
    }
}

.account-menu-container {
    position: relative;

}

.account-menu-container, .account-dropdown-buttons {
    display: flex;
    align-items: center;
}

.profile-menu-icon {
    height: 28.8px;
    width: 28.8px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: contain;
}

.caret {
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 4.5px 4.5px 0;
    height: 0;
    margin-left: 9px;
    transition: transform 367ms;
}

@media screen and (min-width: 950px) {

    .nav-content {
        height: 61.2px;
        font-size: 13.95px;
    }
    
    .nav-tab {
        margin-left: 18px;
    }

    .nav-logo {
        height: 25.2px;
    }
}


.menu {
    position: absolute;
    width: 211.5px;
    height: auto;
    background-color: rgba(0, 0, 0, .9);
    right: 0;
    top: 46.8px;
    border: 1px solid hsla(0, 0%, 100%, .15);
}


.dropdown-menu-profiles {
    padding: 10.8px 0px 4.5px;
    height: auto;
}

.dropdown-profile {
    display: flex;
    align-items: center;

    padding: 4.5px 9px;
    font-size: 11.7px;

    img {
        height: 31.5px;
        width: 31.5px;
        margin-right: 9px;
        border-radius: 4px;

        &:hover {
            cursor: pointer;
        }

        &:hover ~ p {
            text-decoration: underline;
        }
    }

    p {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 90px;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.sub-menu-list {
    list-style-type: none;
    font-size: 11.7px;
    padding-bottom: 9px;
    margin-top: 2.7px;

    .sub-menu-item {
        display: flex;
        align-items: center;

        padding: 4.5px 9px;

        img {
            display: flex;
            align-items: center;
            padding: 0px 5.4px;
            margin-right: 9px;

            &:hover {
                cursor: pointer;
            }

            &:hover ~ p {
                text-decoration: underline;
            }
        }

        p {
            width: 100%;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

.signout-container {
    border-top: 1px solid hsla(0, 0%, 100%, .25);
    font-size: 11.7px;
    padding: 9px 0px;

    p {
        padding: 4.5px 9px;
        text-align: center;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}










// ** adding the transition to the profile modal and profile for the header also add the media screen for the profile header
// https: //www.w3schools.com/css/css3_transitions.asp
// 
// 
// 
// 
